<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="deleteModal(obj,id)"
	 th:obj="${obj}"
	 style="display: inline;">
	
<button type="button" 
 class="btn btn-danger" 
 data-bs-toggle="modal" 
 th:data-bs-target="'#modal' + ${obj.id}">
 Delete [[${id}]]
 </button>
<div
	 class="modal fade"
	 th:id="'modal' + ${obj.id}"
	 tabindex="-1" 
	 aria-labelledby="exampleModalLabel" 
	 aria-hidden="true">
	 
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">[[*{name}]]</h1>
				 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			 </div>
			 <div class="modal-body">
				<p>Sicuro di voler eliminare la pizza [[*{name}]]  ?</p>
			 </div>
			 <div class="modal-footer">
				 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				 
				 <form method="post" th:action="@{admin/pizza/delete/{id}(id=${obj.id})}" style="display: inline">
					<button type="submit" class="btn btn-danger">Delete</button>
				 </form>
				 
			 </div>
			 </div>
	</div></div>

</div>
</div>
</body>

</html>